<a href="https://colab.research.google.com/github/bob8dod/Kaggle_and_Dacon/blob/main/Dacon/(4)_%EC%A3%BC%EC%B0%A8%EC%88%98%EC%9A%94_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')
age_gender_info = pd.read_csv('/content/age_gender_info.csv')

In [10]:
print(train.shape)
print(test.shape)

(2952, 15)
(1022, 14)

In [14]:
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         842 non-null    object
 10  임대료                           842 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 111.9+ KB

(None, None)

**train 데이터 (NULL):**  임대보증금, 임대료, 도보 10분거리 내 지하철역 수(환승노선 수 반영), 도보 10분거리 내 버스정류장 수  
**test 데이터 (NULL):** 자격유형, 임대보증금, 임대료, 도보 10분거리 내 지하철역 수(환승노선 수 반영)

## Data Analysis and Feature Engineering

1. 임대보증금, 임대료

In [24]:
# 임대보증금과 임대료는 '-'을 null로 바꾼 후 float로 타입 변경
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

In [31]:
# 임대보증금과 임대료가 NULL인 경우는 0으로 대체
train[['임대보증금', '임대료']] = train[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

2. 도보 10분 거리 내 지하철 역수, 버스정류장 수

In [32]:
# 이또한 0으로 대체
cols = ['도보 10분거리 내 지하철역 수(환승노선 수 반영)', '도보 10분거리 내 버스정류장 수']
train[cols] = train[cols].fillna(0)
test[cols] = test[cols].fillna(0)

3. 자격유형

In [36]:
test[test.자격유형.isnull()]

      단지코드  총세대수  ... 도보 10분거리 내 버스정류장 수 단지내주차면수
196  C2411   962  ...                2.0   840.0
258  C2253  1161  ...                2.0   173.0

[2 rows x 14 columns]

C2411의 경우 'A'  
C2253의 경우 'C'  
가 최빈 값

In [37]:
test.loc[test.단지코드.isin(['C2411']) & test.자격유형.isnull(), '자격유형'] = 'A'
test.loc[test.단지코드.isin(['C2253']) & test.자격유형.isnull(), '자격유형'] = 'C'

추가적인 분석 전 중복 제거

In [38]:
train = train.drop_duplicates()
test = test.drop_duplicates()

In [39]:
train.groupby(['단지코드']).nunique(dropna=False)

       총세대수  임대건물구분  지역  ...  도보 10분거리 내 버스정류장 수  단지내주차면수  등록차량수
단지코드                     ...
C1000     1       1   1  ...                   1        1      1
C1004     1       2   1  ...                   1        1      1
C1005     1       1   1  ...                   1        1      1
C1013     1       1   1  ...                   1        1      1
C1014     1       1   1  ...                   1        1      1
...     ...     ...  ..  ...                 ...      ...    ...
C2663     1       1   1  ...                   1        1      1
C2666     1       1   1  ...                   1        1      1
C2670     1       1   1  ...                   1        1      1
C2680     1       1   1  ...                   1        1      1
C2692     1       1   1  ...                   1        1      1

[423 rows x 14 columns]

In [42]:
train.groupby(['단지코드']).nunique(dropna=False).mean(axis=0)

총세대수                            1.000000
임대건물구분                          1.078014
지역                              1.000000
공급유형                            1.153664
전용면적                            4.486998
전용면적별세대수                        5.271868
공가수                             1.000000
자격유형                            1.205674
임대보증금                           3.018913
임대료                             3.047281
도보 10분거리 내 지하철역 수(환승노선 수 반영)    1.000000
도보 10분거리 내 버스정류장 수              1.000000
단지내주차면수                         1.000000
등록차량수                           1.000000
dtype: float64

임대건물구분, 공급유형, 전용면적, 전용면적별세대수, 자격유형, 임대보증금, 임대료는 하나의 단지코드에 대해 둘 이상의 항목 존재

4. 단지코드 별 분석

In [52]:
def reshape_cat_features(data, cast_col, value_col):
    res = data.drop_duplicates(['단지코드', cast_col]).assign(counter=1).pivot(index='단지코드', columns=cast_col, values=value_col).fillna(0)
    res.columns.name = None
    res = res.rename(columns={col:cast_col+'_'+col for col in res.columns})
    return res

1) 하나의 단지코드에 하나의 값만 존재하는 변수들

In [43]:
unique_cols = ['총세대수', '지역', '공가수', 
               '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
               '도보 10분거리 내 버스정류장 수',
               '단지내주차면수', '등록차량수']
train_agg = train.set_index('단지코드')[unique_cols].drop_duplicates()
test_agg = test.set_index('단지코드')[[col for col in unique_cols if col!='등록차량수']].drop_duplicates()

In [45]:
train_agg.head(3)

       총세대수     지역   공가수  ...  도보 10분거리 내 버스정류장 수  단지내주차면수   등록차량수
단지코드                      ...
C2483   900   경상북도  38.0  ...                 3.0   1425.0  1015.0
C2515   545   경상남도  17.0  ...                 3.0    624.0   205.0
C1407  1216  대전광역시  13.0  ...                 1.0   1285.0  1064.0

[3 rows x 7 columns]

In [46]:
test_agg.head(3)

       총세대수     지역  ...  도보 10분거리 내 버스정류장 수  단지내주차면수
단지코드                ...
C1072   754    경기도  ...                 2.0    683.0
C1128  1354    경기도  ...                 3.0   1216.0
C1456   619  부산광역시  ...                16.0    547.0

[3 rows x 6 columns]

2) 하나의 단지코드에 둘 이상의 값이 존재하는 변수들

공급 유형

In [47]:
pd.concat([train.공급유형.value_counts(), test.공급유형.value_counts()], axis=1)

           공급유형   공급유형
국민임대       1730  619.0
임대상가        285  112.0
공공임대(10년)   203   34.0
행복주택        203  121.0
영구임대        149   44.0
공공임대(50년)    31   13.0
공공임대(분납)     12    6.0
장기전세          9    NaN
공공분양          7    NaN
공공임대(5년)      3    NaN

In [48]:
train.loc[train.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'
test.loc[test.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'
train.loc[train.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'
test.loc[test.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

자격 유형

In [ ]:
# 행복주택
train.loc[train.자격유형.isin(['J', 'L', 'K', 'N', 'M', 'O']), '자격유형'] = '행복주택_공급대상'
test.loc[test.자격유형.isin(['J', 'L', 'K', 'N', 'M', 'O']), '자격유형'] = '행복주택_공급대상'

In [51]:
# 국민임대/장기전세
train.loc[train.자격유형.isin(['H', 'B', 'E', 'G']), '자격유형'] = '국민임대/장기전세_공급대상'
test.loc[test.자격유형.isin(['H', 'B', 'E', 'G']), '자격유형'] = '국민임대/장기전세_공급대상'
# 영구임대
train.loc[train.자격유형.isin(['C', 'I', 'F']), '자격유형'] = '영구임대_공급대상'
test.loc[test.자격유형.isin(['C', 'I', 'F']), '자격유형'] = '영구임대_공급대상'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

데이터 통합

In [53]:
train_agg = pd.concat([train_agg,
                       reshape_cat_features(data=train, cast_col='임대건물구분', value_col='counter'),
                       reshape_cat_features(data=train, cast_col='공급유형', value_col='counter'),
                       reshape_cat_features(data=train, cast_col='자격유형', value_col='counter')], axis=1)

test_agg = pd.concat([test_agg,
                       reshape_cat_features(data=test, cast_col='임대건물구분', value_col='counter'),
                       reshape_cat_features(data=test, cast_col='공급유형', value_col='counter'),
                       reshape_cat_features(data=test, cast_col='자격유형', value_col='counter')], axis=1)

In [54]:
train_agg.shape, test_agg.shape

((423, 20), (150, 19))

## Modeling (using Catboost)

In [ ]:
pip install catboost

In [60]:
from catboost import CatBoostRegressor
catb = CatBoostRegressor(
         cat_features=['지역'],
         loss_function='MAE',
         n_estimators=500, 
         learning_rate=0.05, 
         random_state=42
    )
    
catb.fit(train_agg.drop(columns=[target_col]), train_agg['등록차량수'], verbose=200)

0:	learn: 279.3964528	total: 2.09ms	remaining: 1.04s
200:	learn: 75.2070254	total: 346ms	remaining: 515ms
400:	learn: 54.0292543	total: 743ms	remaining: 183ms
499:	learn: 50.0553217	total: 927ms	remaining: 0us

In [64]:
sample_submission = pd.read_csv('/content/sample_submission.csv')
sample_submission['num'] = catb.predict(test_agg)
sample_submission

      code          num
0    C1072   678.748011
1    C1128  1183.305560
2    C1456   568.547066
3    C1840   519.937576
4    C1332  1050.366626
..     ...          ...
145  C2456   262.919072
146  C1266   428.923075
147  C2152    50.028510
148  C1267   285.955245
149  C2189   189.475808

[150 rows x 2 columns]

In [65]:
sample_submission.to_csv('submission.csv', index=False)

## 결과

![image.png]()